/* Global font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);
}


:root {
  --background-color: white;
  --text-color: black;
}

body.dark-theme{
  --background-color: black;
  --text-color: white;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
/* Header styles */
h2, h3 {
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  font-weight: bold;
}

fieldset{
  width: 69%; /* fixed or varied width */
  margin: 0 auto; /* horizontaly centers */
  text-align: center;
}
/* Paragraph and list styles */
p, ul, li {
  font-family: 'Verdana', sans-serif;
  font-size: 1.1em;
}

/* Section styles */
section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Image styles */
img {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  width: 100%;
  height: auto;
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
  body {
      font-size: 16px;
  }

  section {
      margin: 30px;
      padding: 30px;
  }

  img {
      width: auto;
      height: auto;
  }
}

/* Link styles */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: darkblue;
  text-decoration: underline;
}

a:active {
  color: red;
}

/* Button styles */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: 2px solid orange;
}